<!DOCTYPE html>
<html>
<head>
	<title>Realtime</title>
	<meta name='description' content='Realtime - Connecting people since 1764'>
	<meta name='keywords' content='Realtime, CS132, Athyuttam Eleti, Brown University'>
	<meta name='author' content='Athyuttam Reddy Eleti'>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>

	<!--CSS Reset-->
	<link rel='stylesheet' type='text/css' href='/css/reset.css'>
	<!--Custom CSS-->
	<link rel='stylesheet' type='text/css' href='/css/main.css'>

	<!--Javascript-->
	<script type='text/javascript' src='/js/jquery-1.11.0.js'></script>
	<script type='text/javascript' src='/js/main.js'></script>
</head>
<body>
	<div id='container'>
		<div id='content'>
			<img src='/images/realtime.png'></img>
			<h1>Realtime</h1>
			<p>A revolutionary new chatting experience.</p>
			<form action='/' method='post'>
				<button id='newChatroomButton' type='submit'>New Chatroom</button>
			</form>
		</div>
	</div>
</body>
</html>